body {
  height: 100vh;
  background-color: beige;
}

h1 {
  font-size: 3em;
  float: center;
}

.list-group-item {
  line-height: 2.5;
}

#map {
    height: 100%;
    background-color: beige;
}

#newPostMap {
    height: 40vh;
    background-color: beige;
}

h5 {
  line-height: 20px;
  margin: 0
}

#art-info {
  height: 100%;
  background-color: aliceblue;
  overflow: scroll;
  padding: 20px;
}

header {
  height: 60px;
}

#enter-add-view,
#loginButton {
  float: right;
}

.image-add-button {
  width: 100%;
  float: center;
}