.list-group-item {
  line-height: 2.5;
}

#map {
    height: 90vh;
    background-color: beige;
}

#newPostMap {
    height: 40vh;
    background-color: beige;
}

h5 {
  line-height: 20px;
  margin: 0
}

#art-info {
  height: 90vh;
  overflow: scroll;
}

#header-bar {
  height: 10vh;
}

