body {
  height: 100vh;
  background-image: url(diamond_upholstery.png);
  overflow: hidden;
}

.list-group-item {
  line-height: 2.5;
}

#map {
    height: 100%;
    background-color: beige;
}

#newPostMap {
    height: 40vh;
    background-color: beige;
}

h5 {
  line-height: 20px;
  margin: 0
}

#art-info {
  padding: 30px 10px 30px 10px;
  height: 90%;
  overflow: scroll;
}

header {
  height: 60px;
}

.input-group-text {
  background-color: #0764A5;
  color: white;
}

#sidebar {
  background-color: white;
  opacity: 0.9;
}

#exampleModalLabel {
  color: #0764A5;
}

#artNameDisplay {
  text-align: center;
  padding: 5px 0px 0px 0px;
  color: #0764A5;
}

.image-add-button {
  width: 90%;
  float: center;
}

#art-info-footer {
  height: 40px;
}

h1 {
  font-size: 3em;
  text-align: center;
}

 #title,
 .instructions {
  text-align: center;
  color: #0764A5
} 

.instructions {
  font-size: 1.3em;
}

@font-face {
    font-family: freshMarker;
    src: url(../fonts/freshmarker.ttf);
}